<!DOCTYPE html>
<html>
<head>
    <title>Final Project Home Page</title>
</head>
<body>
    <h1>Final Project: Hunter and Gustavo</h1>

    <h2>JPEG Images</h2>
    <ul>
        <li><a href="{{ url_for('baseline') }}">Baseline JPEG Image</a></li>
        <li><a href="{{ url_for('progressive') }}">Progressive JPEG Image</a></li>
        <li><a href="{{ url_for('hierarchical') }}">Hierarchical JPEG Image</a></li>
    </ul>

    <h2>JPEG 2000 Images</h2>
    <ul>
        <li><a href="{{ url_for('baseline_jp2') }}">Baseline JPEG 2000 Image</a></li>
        <li><a href="{{ url_for('progressive_jp2') }}">Progressive JPEG 2000 Image</a></li>
        <li><a href="{{ url_for('hierarchical_jp2') }}">Hierarchical JPEG 2000 Image</a></li>
    </ul>
    
</body>
</html>